<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Our custom CSS -->
		<link rel="stylesheet" href="{{ asset('css/home.css') }}">
		<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
		<link rel="stylesheet" href="{{ asset('css/about.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">

		<title>
			{% block title %}Camille Rouaux Point Com !{% endblock %}
		</title>
	</head>

	{% block body %}

	<div class="burger">
  	<span></span>
	</div>

	<a href="#" class="logo">Logo</a>
	
	<nav class="navbar">
		<div class="nav-links">
			<ul class="main">	
				<li><a href="#">Home</a></li>
				<li><a href="#sec">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>	
	</nav>

	<div class="overlay"></div>

	<section>
		<img src="{{ asset('image/stars.png')}}" id="stars" alt="Stars">
		<img src="{{ asset('image/moon.png')}}" id="moon" alt="Moon">
		<a href="#sec" id="button">Hello !</a>
		<img src="{{ asset('image/mountains_behind.png')}}" id="mountains_behind" alt="mountains behind">
		<img src="{{ asset('image/mountains_front.png')}}" id="mountains_front" alt="mountains front">
	</section>

	<div class="sec" id="sec">
			<h5>Moi c'est</h5>
			<h3>Camille Rouaux</h3>
			<p>Je suis développeuse Back-End.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, consectetur. Architecto at molestiae vel iure aliquam voluptates maxime atque tempore laboriosam sequi exercitationem consequatur quos asperiores, obcaecati quaerat molestias numquam mollitia ipsam praesentium! Eveniet, odit ex aliquam necessitatibus officiis iure asperiores ullam distinctio beatae obcaecati rerum autem minus in tenetur neque! Libero laboriosam tenetur totam enim consequuntur? Quibusdam eaque culpa quaerat, voluptatum totam fuga architecto ducimus dolor ea amet. Quia id doloribus dolorum cupiditate. Fuga, nostrum eaque repudiandae quibusdam quisquam impedit exercitationem qui eveniet eum earum aut ab odio quidem hic voluptas quos ratione minima culpa magnam mollitia? Animi, voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur id assumenda voluptas ut ipsam, voluptate nemo facere blanditiis, consectetur dicta totam tempora quo placeat ex corporis mollitia libero dignissimos doloremque, minus provident earum? Deleniti dolorum ducimus aliquam ad expedita assumenda natus eveniet. Nesciunt ab dolorem atque assumenda error quidem provident. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ab, at consequuntur quas voluptatem odio. Laudantium nulla rerum dicta reiciendis sed illo quibusdam necessitatibus animi harum ipsum vel possimus ea, a vitae quas perspiciatis nostrum expedita porro consectetur itaque quam nisi! Consequuntur provident a omnis nesciunt magni libero nostrum iusto modi unde sequi pariatur, optio nemo eos assumenda placeat? Incidunt numquam quo fugit reprehenderit voluptates explicabo quae error autem est! Labore mollitia illo incidunt, architecto pariatur nesciunt neque blanditiis similique obcaecati, quas doloremque, molestiae sed repellendus harum tempore sequi libero consectetur ea ipsum velit eveniet! Aperiam nulla earum ab tempora.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, consectetur. Architecto at molestiae vel iure aliquam voluptates maxime atque tempore laboriosam sequi exercitationem consequatur quos asperiores, obcaecati quaerat molestias numquam mollitia ipsam praesentium! Eveniet, odit ex aliquam necessitatibus officiis iure asperiores ullam distinctio beatae obcaecati rerum autem minus in tenetur neque! Libero laboriosam tenetur totam enim consequuntur? Quibusdam eaque culpa quaerat, voluptatum totam fuga architecto ducimus dolor ea amet. Quia id doloribus dolorum cupiditate. Fuga, nostrum eaque repudiandae quibusdam quisquam impedit exercitationem qui eveniet eum earum aut ab odio quidem hic voluptas quos ratione minima culpa magnam mollitia? Animi, voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur id assumenda voluptas ut ipsam, voluptate nemo facere blanditiis, consectetur dicta totam tempora quo placeat ex corporis mollitia libero dignissimos doloremque, minus provident earum? Deleniti dolorum ducimus aliquam ad expedita assumenda natus eveniet. Nesciunt ab dolorem atque assumenda error quidem provident. <br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ab, at consequuntur quas voluptatem odio. Laudantium nulla rerum dicta reiciendis sed illo quibusdam necessitatibus animi harum ipsum vel possimus ea, a vitae quas perspiciatis nostrum expedita porro consectetur itaque quam nisi! Consequuntur provident a omnis nesciunt magni libero nostrum iusto modi unde sequi pariatur, optio nemo eos assumenda placeat? Incidunt numquam quo fugit reprehenderit voluptates explicabo quae error autem est! Labore mollitia illo incidunt, architecto pariatur nesciunt neque blanditiis similique obcaecati, quas doloremque, molestiae sed repellendus harum tempore sequi libero consectetur ea ipsum velit eveniet! Aperiam nulla earum ab tempora.</p>
	</div>

{% endblock %}

	{% block js %}
		<script src="{{ asset('js/parallax.js') }}"></script>
		<script src="{{ asset('js/burger.js') }}"></script>
	{% endblock %}

</html>
