<!doctype html>
<html lang="fr">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Our custom CSS -->
		<link rel="stylesheet" href="{{ asset('css/home.css') }}">
		<link rel="stylesheet" href="{{ asset('css/nav.css') }}">
		<link rel="stylesheet" href="{{ asset('css/about.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap" rel="stylesheet">

		<title>
			{% block title %}Camille Rouaux Point Com !{% endblock %}
		</title>
	</head>

	{% block body %}

	<div class="burger">
  	<span></span>
	</div>

	<a href="#" class="logo">Logo</a>
	
	<nav class="navbar">
		<div class="nav-links">
			<ul class="main">	
				<li><a href="#">Home</a></li>
				<li><a href="#sec">About</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Education</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>	
	</nav>

	<div class="overlay"></div>

	<section>
		<img src="{{ asset('image/stars.png')}}" id="stars" alt="Stars">
		<img src="{{ asset('image/moon.png')}}" id="moon" alt="Moon">
		<a href="#sec" id="button">Hello !</a>
		<img src="{{ asset('image/mountains_behind.png')}}" id="mountains_behind" alt="mountains behind">
		<img src="{{ asset('image/mountains_front.png')}}" id="mountains_front" alt="mountains front">
	</section>

	<div class="sec" id="sec">
			<h5>Moi c'est</h5>
			<h2>Camille Rouaux</h2>
			<img src="{{ asset('image/picture.png')}}" alt="Photo de Camille Rouaux">
			<p>Je suis développeuse Back-End, et je fais partie du club des CMPVA (Club des Mangeurs de Pistaches Volées Anonymes)</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo ad perspiciatis excepturi deserunt quam minus dolor dignissimos, sed cum nisi? Unde porro quibusdam, aut laborum vitae est rem et natus sunt accusantium. Asperiores autem quia nisi, ea numquam aperiam ab alias ipsam ipsum. Deserunt illum quis optio eum, maiores fugiat et, placeat ratione vel quasi, id possimus consequatur nemo harum. Nisi animi neque beatae magni amet, doloremque iure enim a iusto non facere maiores veritatis, quo voluptate exercitationem placeat assumenda obcaecati totam nam, consequuntur expedita. Voluptas, architecto. Sequi in ab non repellat ipsum eligendi ex labore pariatur vitae officiis! Reiciendis.</p>
			
			
	</div>

{% endblock %}

	{% block js %}
		<script src="{{ asset('js/parallax.js') }}"></script>
		<script src="{{ asset('js/burger.js') }}"></script>
	{% endblock %}

</html>
